.advice {
  background-color: var(--color-dark-gray);
  font-weight: 800;
  border-radius: 15px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 2.5rem;

  @include respond(desktop) {
    width: 50rem;
    height: 33rem;
    padding: 4rem;
  }

  @include respond(mobil) {
    width: 35rem;
    height: 40rem;
    padding: 3rem 2rem;
    gap: 0.7rem;
    justify-content: space-around;
  }

  &__id {
    color: var(--color-primary-green);
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  &__text {
    font-size: 2.8rem;
    color: var(--color-primary-light-cyan);
    height: 60%;
    text-align: center;

    &:before {
      content: '“';
    }

    &::after {
      content: '”';
    }
  }

  &__line-img {
    width: 100%;
    font-size: 2.8rem;
    color: var(--color-primary-light-cyan);
    margin-bottom: 2.5rem;

    @include respond(mobil) {
      margin-bottom: 1.5rem;
    }
  }
}

.btn {
  width: 6rem;
  height: 6rem;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-green);

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  &:hover {
    box-shadow: 0 1rem 4rem var(--color-primary-green);
  }
}
